
*{
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

:root {
  --text-primary-light: #343a40;
  --text-primary-dark: white;

  --text-secondary-light: rgb(70, 70, 70);
  --text-secondary-dark: rgb(160, 160, 160);

  --bg-primary-light: white;
  --bg-primary-dark: black;

  --bg-secondary-light: rgb(212, 212, 212);
  --bg-secondary-dark: rgb(34, 34, 34);

  --bg-navbar-light: #f3f0f9;
  --bg-navbar-dark: #161717;

  --bg-topbar-light: white;
  --bg-topbar-dark: #343a40;

  --bg-table-light: white;
  --bg-table-dark: #343a40;

  --text-table-light: black;
  --text-table-dark: white;
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-secondary: var(--bg-secondary-light);
  --bg-navbar: var(--bg-navbar-light);
  --bg-topbar: var(--bg-topbar-light);
  --bg-table: var(--bg-table-light);
  --text-table: var(--text-table-light)
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --bg-navbar: var(--bg-navbar-dark);
  --bg-topbar: var(--bg-topbar-dark);
  --bg-table: var(--bg-table-dark);
  --text-table: var(--text-table-dark);
}